@import "tailwindcss";

:root {
  --background: #f0f8ff;
  --foreground: #1e2938;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* remove comment after finishing light mode
    --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
