@import "tailwindcss";

:root {
  --background: #f0f8ff;
  --foreground: #1e2938;
  --primary: #ff5c00;
  --secondary: #2193CC;
  --accent: #FF7D33;
  --muted: #E9F4FA;
  --border: #E9F4FA;
  --surface: #E9F4FA;
  --backup-black: #28313C;

}

@theme inline {
  --font-sans: var(--font-inter); 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* remove comment after finishing light mode
    --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
